*{
    margin: 0;
    padding: 0;
    font-family: Righteous;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 240, 255);;
}
.header {
    font-size: 3rem;
    text-align: center;
    min-height: 8rem;
    line-height: 8rem;
}

.main {

    flex: 1;
    padding: 1rem;

    display: flex;
    justify-content: space-evenly;
}

.toolbar{
    height: 640px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(170, 170, 190);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.toolbar > .size {
    background-color: rgb(230, 240, 255);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

#size-slider {
    appearance: none;
    background-color: gray;
    height: 0.5rem;
    border-radius: 1rem;
    
}

#size-slider::-moz-range-thumb{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    border: solid 2px gray;
}
.grid {
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(170, 170, 190);
}
.container {
    width: 640px;
    height: 640px;
    background-color: rgb(170, 170, 190);
}

.container > .draw {
    background-color: black;
}
#clear {
    font-size: 2rem;
    line-height: 4rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    height: 4rem;
    background-color: rgb(230, 240, 255);
    transition: scale 0.2s;
}
#clear:hover {
    opacity: 0.7;
    scale: 0.95;
}

#clear:active{
    scale: 0.9;
}

.footer {
    background-color: rgb(230, 240, 255);
    text-align: center;
    padding: 20px;
    color: rgb(170, 170, 190);
    font-size: 1rem;
    line-height: 1.6rem;
}
